@page
@model BudgetPlan.Pages.Expenses.IndexModel
@{
}


<br>
<h2>List of expenses</h2>
<a class="btn btn-primary btn-sm" href="/Expenses/Create">New Expense</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Month</th>
            <th>Year</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Real or Planned Values</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Expenses)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Month</td>
                <td>@item.Year</td>
                <td>@item.Category</td>
                <td>@item.Amount</td>
                <td>@item.RealValues</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Expenses/Edit?id=@item.Id">Edit</a>
                    <a class="btn btn-primary btn-sm" href="/Expenses/Delete?id=@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>